<div class="container">
  <h1 class="titulo">Bem-vindo à Bookstore</h1>

  <!-- Filtros -->
  <form class="form">
    <div class="row fullWidth">
      <mat-form-field class="fullWidth" appearance="legacy">
        <mat-label>Filtrar por título</mat-label>
        <input
          [(ngModel)]="filtroTitulo"
          name="filtroTitulo"
          matInput
          placeholder="Ex. O Senhor dos Anéis"
          (input)="filtrarLivros()"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <div class="row fullWidth">
      <mat-form-field class="mediumWidth" appearance="legacy" style="margin-right: 16px;">
        <mat-label>Assunto</mat-label>
        <mat-select [(ngModel)]="filtroAssunto" name="filtroAssunto" (selectionChange)="filtrarLivros()">
          <mat-option value="">Todos os assuntos</mat-option>
          <mat-option *ngFor="let assunto of assuntos" [value]="assunto">
            {{ assunto.descricao }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="mediumWidth" appearance="legacy">
        <mat-label>Autor</mat-label>
        <mat-select [(ngModel)]="filtroAutor" name="filtroAutor" (selectionChange)="filtrarLivros()">
          <mat-option value="">Todos os autores</mat-option>
          <mat-option *ngFor="let autor of autores" [value]="autor">
            {{ autor.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <!-- Lista de livros -->
  <div class="livros-list">
    <mat-card *ngFor="let livro of livrosFiltrados" class="livro-card mat-elevation-z4">
      <mat-card-header>
        <div class="header-content">
          <div class="titulo-editora">
            <mat-card-title>{{ livro.titulo }}</mat-card-title>
            <mat-card-subtitle>{{ livro.editora }}</mat-card-subtitle>
          </div>
          <div class="valor-quantidade">
            <p><strong>Valor:</strong> {{ livro.valor | currency:'BRL':'symbol':'1.2-2' }}</p>
            <p><strong>Qtd:</strong> {{ livro.quantidade }}</p>
          </div>
        </div>
      </mat-card-header>

      <mat-card-content>
        <p><strong>Edição:</strong> {{ livro.edicao }}</p>
        <p><strong>Ano:</strong> {{ livro.anoPublicacao }}</p>
        <p><strong>Assunto:</strong> {{ livro.assunto?.descricao }}</p>

        <!-- Autores -->
        <p><strong>Autores:</strong>
          <span *ngFor="let autor of livro.autores; let last = last">
            {{ autor.nome }}<span *ngIf="!last">, </span>
          </span>
        </p>
      </mat-card-content>
    </mat-card>

  </div>

   <p class="titulo-margin">by José Marcos</p>
</div>
