<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        
        <mat-nav-list class="nav-list">
            
         <a mat-list-item routerLink="home">
                <i class="material-icons">home</i>
                Home
            </a>

            <a mat-list-item routerLink="assuntos">
                <i class="material-icons">clear_all</i>
                Assunto
            </a>

            <a mat-list-item routerLink="autores">
                <i class="material-icons">person</i>
                Autor
             </a>
             <a mat-list-item routerLink="livros">
                <i class="material-icons">account_balance_wallet</i>
                Livros
             </a>
             <a mat-list-item routerLink="/">
                <i class="material-icons">credit_card</i>
                Bookstore
             </a>
             <a mat-list-item href="https://github.com/JMarcosMoraes/kata-bookstore-front" target="_blank">
                <i class="material-icons">code</i>
                Bookstore SPA
             </a>
             <a mat-list-item href="https://github.com/JMarcosMoraes/kata-bookstore-back" target="_blank">
                <i class="material-icons">code</i>
                Bookstore API
             </a>            
             <a mat-list-item (click)="logout()">
                <i class="material-icons">logout</i>
                Logout
             </a>
        </mat-nav-list>
    </mat-drawer>
  
    <div class="sidenav-content">
      <app-header></app-header>
      <button class="menu mat-elevation-z8" (click)="drawer.toggle()"  mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>
  